<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASP_.NET_nauka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASP_.NET_nauka.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="UpBar">
        
        <div class="UpBarContainer">
            <div class="UpBarSubContainer">
                <button>
                    <a class="CustomLink text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </button>   
                <button>
                    <a class="CustomLink text-dark" asp-area="" asp-controller="Currencies" asp-action="Index">Currencies</a>
                    <img src="/images/bitcoin.png" />
                </button>
            </div>
            <div class="UpBarSubContainer">
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <button>
                        <a class="CustomLink text-dark" asp-area="" asp-controller="User" asp-action="Index"> Account</a>
                        <img src="/images/userIcon.png" />
                    </button>
                    <button>
                        <a class="CustomLink text-dark" asp-area="" asp-controller="Login" asp-action="LogOut" style="width:120px">Log out</a>
                    </button>
                } else
                {
                    <button>
                        <a class="CustomLink text-dark" asp-area="" asp-controller="Login" asp-action="Index" style="width:120px">Log in</a>
                    </button>
                }
            </div>
        
       
               
        </div>
       
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="display:flex; justify-content:center;">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
