.vs/Kryptowaluty/FileContentIndex/
bin/
obj/
*.vs/
*.user/
*.suo
/.vs/Crypto/FileContentIndex/c93685ca-4f8e-4ca9-b89f-803bf884a711.vsidx
/.vs/Crypto/config/applicationhost.config
/.vs/Crypto/v17/.wsuo
/.vs/Crypto/v17/DocumentLayout.json
/.vs/Kryptowaluty/config/applicationhost.config
/.vs/Kryptowaluty/DesignTimeBuild/.dtbcache.v2
/.vs/Kryptowaluty/v17/.futdcache.v2
/.vs/Kryptowaluty/v17/.suo
/.vs/Kryptowaluty/v17/DocumentLayout.json
/.vs/ProjectEvaluation/kryptowaluty.metadata.v7.bin
/.vs/ProjectEvaluation/kryptowaluty.projects.v7.bin
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Crypto/config/applicationhost.config
