@model OrderPackage
<link rel="stylesheet" href="~/css/Trade.css">

<form asp-action="Sell" asp-controller="Order" method="post">
    <div class="inputRow">
        <div class="inputContainer">
            <input asp-for="Qty" id="Qty" placeholder="Qty" required/>
            <input id="CodeBox" readonly/>
        </div>
        <div id="sliderContainer">
            <input type="range" id="slider" min="0" max="100" value="0">
            <span id="sliderValueBox"> 0%</span>
        </div>
    </div>
    <div class="inputRow">
        <div class="inputContainer">
            <input asp-for="QtyUSDT" id="QtyUSDT" placeholder="Qty" readonly />
            <input id="USDTBox" value="USDT" readonly />
        </div>
    </div>
    <input type="hidden" name="currencyId" id="currencyId" />
    <button id="ConfirmOrderButton" style="background-color: #fc5f3f"> Sell </button>
</form>




<script src="~/js/TradeUser.js"> </script>
<script>
$(document).ready(function () 
{
    var hiddenInput = document.getElementById("currencyId");
    hiddenInput.value = Cur.Currency.Id;

    const CodeBox = document.getElementById('CodeBox');
    CodeBox.value = Code;

    const ConfirmOrderButton = document.getElementById("ConfirmOrderButton");
    const BuySellSwitch = document.getElementById("BuySellSwitch");
    const slider = document.getElementById("slider");
    const sliderValueBox = document.getElementById("sliderValueBox");
    const QtyInput = document.getElementById("Qty");
    const QtyUSDTInput = document.getElementById("QtyUSDT");
 

    function CalculateValue() {
        QtyUSDTInput.value = (QtyInput.value * Cur.Currency.Value).toFixed(2);
    }

    function GetSliderValue() {
        sliderValueBox.textContent = slider.value + '%';
        QtyInput.value = ((slider.value / 100) * UserBalance).toFixed(8);
        CalculateValue();
    }
    function CheckIfLessThanBalance() {
        const CurrentValue = QtyInput.value;
        if (CurrentValue > UserBalance) {
            QtyInput.value = UserBalance;
        }
        CalculateValue();
    }



    QtyInput.addEventListener('input', AllowOnlyDecimal);
    QtyUSDTInput.addEventListener('input', AllowOnlyDecimal);
    slider.addEventListener('input', GetSliderValue);
    QtyInput.addEventListener('input', CheckIfLessThanBalance);


})
</script> 


 