@model TradeChartPackage

<link rel="stylesheet" href="~/css/Trade.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@latest/dist/apexcharts.css">

@{
    var successMessage = TempData["OrderSuccessMessage"] as string;
}



<div class="TradeMainContainer">
    <div class="TradeChartContainer">
        <div id="TradeUpbarContainer">
           
        </div>
        <div id="chart"> </div>
    </div>
    <div class="Trade">
        <div class="TradeOrderBook">
            <div class="TradeOrderBookPart" id="Sellers">

            </div>
            <div class="TradeOrderBookPart" id="Buyers">

            </div>

        </div>
        <div class="TradeUser">
            <br />
            <div style="display: flex;">
                <label class="switch">
                    <input id="BuySellSwitch" type="checkbox">
                    <span class="slider round"></span>
                </label>
                <p style="margin-left: 30px" id="AvailableBalanceBox"> Available balance: </p>
            </div>

            <div id="BuySellForm">


            </div>

        </div>
    </div>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var message = '@successMessage';
            if (message) {
                alert(message);
            }

            var curId = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Currency.Id));
            $('#BuySellForm').load("/Trade/" + curId + "/Buy");
            UserBalance = Cur.User.USDT_balance;
            AvailableBalanceBox.textContent = 'Available balance: ' + UserBalance + ' USDT';


            $('#BuySellSwitch').change(function () {

                if ($(this).is(':checked')) {
                    (function () {
                        $('#BuySellForm').empty();
                        UserBalance = Cur.WalletCurrencyValue.Value;
                        Code = Cur.Currency.Code;
                        AvailableBalanceBox.textContent = 'Available balance: ' + UserBalance + ' ' + Code;
                        $('#BuySellForm').load("/Trade/" + curId + "/Sell");
                    })();
                } else {
                    (function() {
                        $('#BuySellForm').empty();
                        UserBalance = Cur.User.USDT_balance;
                        AvailableBalanceBox.textContent = 'Available balance: ' + UserBalance + ' USDT';
                        $('#BuySellForm').load("/Trade/" + curId + "/Buy");
                    }) ();
                }
            });
        });
    </script>
}





<script src="https://cdn.jsdelivr.net/npm/apexcharts@latest/dist/apexcharts.min.js"> </script>
<script> 

	var Cur = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model));
    const CandleData = [];
    Cur.CurrencyHistory.forEach(item => {
        CandleData.push({
            x: new Date(item.Date).getTime(),
            y: [item.Open, item.High, item.Low, item.Close]
        })
       
    })
    
    const AvailableBalanceBox = document.getElementById('AvailableBalanceBox');

    var UserBalance = Cur.WalletCurrencyValue.Value;
    var UserUSDTBalance = Cur.User.USDT_balance;
    var Code = Cur.Currency.Code;
    
    
    
</script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Trade.js"> </script>
<script src="~/js/TradeOrderLists.js"> </script>
