@model WalletPackage
<h1>@Model.Wallet.UserId</h1>

<table>
	<thead>
		<tr>
			<th> Value </th>
			<th> </th>
			<th> </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			@if (Model.CurrenciesValues != null)
			foreach (var curr in Model.CurrenciesValues)
			{
					
			}
		</tr>
	</tbody>

</table>
