<link rel="stylesheet" href="~/css/User.css" />
<div class="mainContainer">
	
	<div class="menuContainer">
		<button> Wallet </button>
		<button> History </button>
		<button> Settings </button>
	</div>
	<div class="spaceContainer">
		<p></p>
	</div>
</div>