.MainBody {
    border: 2px solid;
    border-color: gainsboro;
    
}
.MainBody td, tr {
    font-size: 24px;
}
.RowContainer {
   display: flex;
   justify-content: space-between;
 
}
.UpBarCurrencies {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;

    border-color: gainsboro;
}
.RowBlock {
    flex: 1;
    margin-right: 4px;
}
.RowBlockCenter {
    flex: 1;
    margin-right: 4px;
    display: flex;
    justify-content: center;
}
