
.UpBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.UpBarSubContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.UpBarContainer button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border: 0px;
    border-bottom: 4px solid transparent;
    background-color: transparent;
    white-space: nowrap;
}

    .UpBarContainer button:hover {
        border-bottom: 4px solid lightgreen;
    }

.UpBarContainer img {
    
    width: 30px;
}

.CustomLink {
    display: block;
    padding: .5rem 1rem;
    padding-right: 0.5rem;
    font-size: 24px;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
